@{
    //We have global layout set in _ViewStart.cshtml
    //So we can comment this and it will still work!
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Movie List";
}

<h2>My Movie List</h2>
<p>Hello from our View template</p>